* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

body.modalOpen{
	height: 100vh;
	overflow-y: hidden;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #ff4c3b;
}

::selection {
  color: white;
  background: #ff4c3b;
}

@keyframes show {
	0% {
		transform: scale(0.2);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes hidden {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}
